.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
  opacity: 1;
  border: 0;
}

.video__iframe:last-of-type {
  margin-right: 0;
}

.video__iframe:hover {
  opacity: 0.7;
  transition: opacity 0.5s linear;
}

